.iD {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.iD .iD-sv-container {
  float: left;
  width: 256px;
  height: 256px;
  background: red;
  position: relative;
  margin-right: 10px;
}
.iD .iD-sv-container img.iD-sv-pick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.iD .iD-sv-container .iD-indicator-color {
  position: absolute;
  width: 7px;
  height: 7px;
  margin-left: -3px;
  margin-top: -3px;
  left: -9999px;
  border: 1px solid;
  border-radius: 3px;
}
.iD .iD-hue-container {
  float: left;
  width: 20px;
  height: 256px;
  position: relative;
}
.iD .iD-hue-container img.iD-hue-pick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.iD .iD-hue-container .iD-indicator-hue {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 0;
  left: 0;
}
.iD .iD-hue-container .iD-indicator-hue:before, .iD .iD-hue-container .iD-indicator-hue:after {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 1px;
  background: #000;
}
.iD .iD-hue-container .iD-indicator-hue:before {
  left: -6px;
}
.iD .iD-hue-container .iD-indicator-hue:after {
  right: -6px;
}
.iD .iD-preview {
  float: left;
  clear: left;
  height: 18px;
  width: 100%;
  margin-top: 10px;
}
