.cp {
  height: 256px;
  margin: 0;
  padding: 0;
}
.cp .cp-sv-container {
  float: left;
  width: 256px;
  height: 256px;
  background: red;
  position: relative;
  margin-right: 10px;
}
.cp .cp-sv-container img.cp-sv-pick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cp .cp-sv-container .cp-indicator-color {
  position: absolute;
  width: 7px;
  height: 7px;
  margin-left: -3px;
  margin-top: -3px;
  left: -9999px;
  border: 1px solid;
  border-radius: 3px;
}
.cp .cp-hue-container {
  float: left;
  width: 20px;
  height: 256px;
  position: relative;
}
.cp .cp-hue-container img.cp-hue-pick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cp .cp-hue-container .cp-indicator-hue {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 0;
  left: 0;
}
.cp .cp-hue-container .cp-indicator-hue:before, .cp .cp-hue-container .cp-indicator-hue:after {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 1px;
  background: #000;
}
.cp .cp-hue-container .cp-indicator-hue:before {
  left: -6px;
}
.cp .cp-hue-container .cp-indicator-hue:after {
  right: -6px;
}
.cp .cp-preview {
  float: left;
  clear: left;
  height: 18px;
  width: 286px;
  margin-top: 10px;
}
