/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
body {
  font: normal 12px/16px "Helvetica Neue", "Arial";
  background: #f4f4f4 url('demo-images/linen.png') fixed;
  margin-bottom: 40px;
}
a {
  color: #83b736;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #666;
}
.iDx-container {
  width: 700px;
  margin: 0 auto;
}
#iDx-nav-container {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 37px;
  background: #353a2e;
  border-bottom: 8px solid #454a3d;
}
#iDx-nav-container #iDx-title {
  float: left;
  color: #ddd;
  font: bold 24px/38px impact;
  text-shadow: 0 1px 1px #000;
}
#iDx-nav-container #iDx-title em {
  letter-spacing: 2px;
}
#iDx-nav-container #iDx-nav {
  float: right;
}
#iDx-nav-container #iDx-nav > li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #525849;
  border-right: 1px solid #23251f;
  height: 44px;
}
#iDx-nav-container #iDx-nav > li.first-child {
  border-left: 0;
  padding: 0;
}
#iDx-nav-container #iDx-nav > li.last-child {
  border-right: 0;
  padding: 0;
}
#iDx-nav-container #iDx-nav > li > a {
  display: block;
  cursor: pointer;
  color: #9ccc54;
  height: 44px;
  text-decoration: none;
  font: 700 12px/38px "Helvetica Neue", "Arial";
  text-shadow: 0 1px 1px #000;
}
#iDx-nav-container #iDx-nav > li > a:hover {
  color: #ddd;
}
.iDx-content {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  padding: 20px;
  position: relative;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.iDx-content .iDx-content-shadow {
  height: 15px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.iDx-content .iDx-content-shadow:before, .iDx-content .iDx-content-shadow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 15px;
  width: 273px;
  background: transparent url('demo-images/shadow.png') 0 0;
}
.iDx-content .iDx-content-shadow:before {
  left: 0;
}
.iDx-content .iDx-content-shadow:after {
  right: 0;
  background-position: 0 100%;
}
#iDx-content-container {
  margin-top: 80px;
}
#iDx-content-about p {
  margin-bottom: 10px;
}
#iDx-ex-demobtn {
  margin-bottom: 50px;
}
#iDx-ex-demobtn .iD-preview-input {
  bottom: auto;
  padding: 0;
}
#iDx-ex-demobtn .iD-input-container {
  display: none;
}
#iDx-ex-demobtn .iD-sv-container {
  visibility: hidden;
}
#iDx-ex-demobtn .iD-preview {
  width: 100%;
  height: 100%;
  border: 0;
}
#iDx-ex-demobtn-view {
  float: right;
  width: 325px;
  margin-right: 25px;
  margin-top: 20px;
}
#iDx-ex-demobtn-view p {
  clear: both;
  padding-top: 20px;
  padding-right: 30px;
}
.demobtn {
  background: #d6d6d6;
  margin-right: 10px;
  float: left;
  padding: 4px;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.demobtn .demobtn-contain {
  float: left;
  text-decoration: none;
  height: 35px;
  line-height: 34px;
  font-size: 22px;
  font-family: "Helvetica Neue";
  padding: 0 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #c9e3a3;
  background-image: -moz-linear-gradient(top, #c9e3a3, #9ccc54);
  background-image: -o-linear-gradient(top, #c9e3a3, #9ccc54);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c9e3a3), color-stop(1, #9ccc54));
  background-image: -webkit-linear-gradient(#c9e3a3, #9ccc54);
  background-image: linear-gradient(top, #c9e3a3, #9ccc54);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c9e3a3', EndColorStr='#9ccc54');
  border: 1px solid #678f2b;
}
.demobtn .demobtn-contain .demobtn-text {
  float: left;
  margin-left: 5px;
  padding-right: 7px;
  height: 100%;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-right: 1px solid #678f2b;
}
.demobtn .demobtn-contain .demobtn-cost {
  float: left;
  height: 100%;
  padding: 0 0 0 8px;
  font-family: arial;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  color: #4b681f;
  border-left: 1px solid #c9e3a3;
}
.demobtn .demobtn-contain .demobtn-cost .demobtn-dollar {
  float: left;
  margin-top: -4px;
  font-size: 14px;
}
.demobtn .demobtn-contain .demobtn-cost .demobtn-price {
  float: left;
  font-size: 18px;
  line-height: 36px;
  margin-right: 3px;
}
#iDx-links {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 15px;
}
.iDx-anchor {
  position: absolute;
  top: -80px;
}
.iDx-listing {
  float: left;
  width: 250px;
}
.iDx-listing li {
  margin-bottom: 20px;
}
.iDx-listing li label {
  font-weight: bold;
}
.iDx-listing li span {
  display: block;
  width: 80px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 16px;
  border: 6px solid #000;
  outline: 1px solid #000;
}
#iDx-ex-usage {
  padding-left: 250px;
}
#iDx-ex-layout {
  margin-bottom: 60px;
}
.iDx-content-block {
  margin-bottom: 20px;
}
.iDx-content-block:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.iDx-content2-block {
  padding-left: 20px;
}
.iDx-content2-block:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
pre.prettyprint {
  margin: 2px 0 20px;
  background-color: #eaeaea;
  border: 2px solid #fff;
  outline: 1px solid #ddd;
  padding: 10px;
  font-family: monospace;
}
h3 {
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #666;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 -20px 7px;
  padding: 0 20px;
}
h4 {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  border-bottom: 1px dotted #aaa;
  margin: 20px 0 10px;
}
#iDx-ex-dim80, #iDx-ex-dim120, #iDx-ex-dim160 {
  float: left;
  margin-right: 50px;
}
#iDx-content-colormath ul {
  float: left;
  width: 300px;
  margin-top: 20px;
}
#iDx-content-colormath ul > li {
  float: left;
  width: 150px;
}
#iDx-content-colormath ul .labels label {
  display: block;
  width: 170px;
  float: left;
}
#iDx-content-colormath ul .labels span {
  display: block;
  float: left;
  width: 70px;
  text-align: center;
  font-family: courier;
  font-weight: bold;
}
#iDx-ex-colormath {
  padding-left: 310px;
  margin-bottom: 20px;
}
